.navbar {
    background-color: #6e9fa6;
    padding: 15px;

    display: flex;
    align-items: center;
}

.link-nav {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.025em;
    color: #ecfbff;

    margin-left: 25px;
}