@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --primary-color: rgb(100, 118, 255);
  --primary-hover-color: rgb(110, 125, 238);
  --dark-color: #263238;
  --secondary-color: #9E9E9E;
  --light-color: #F5F5F5;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #333333;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}